@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/furnace-monitor\/app\/sass\/_reset\.scss}line{font-family:\000031}}
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/furnace-monitor\/app\/sass\/_reset\.scss}line{font-family:\000039}}
li {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/furnace-monitor\/app\/sass\/_reset\.scss}line{font-family:\0000313}}
p {
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/furnace-monitor\/app\/sass\/_reset\.scss}line{font-family:\0000317}}
input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/furnace-monitor\/app\/sass\/_reset\.scss}line{font-family:\0000327}}
input[type="text"]:focus {
  outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/furnace-monitor\/app\/sass\/_base\.scss}line{font-family:\000034}}
html {
  height: 100%;
  width: 100%;
  font-family: "Verdana", sans-serif;
  font-size: 14pt; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/furnace-monitor\/app\/sass\/_base\.scss}line{font-family:\0000311}}
body {
  height: 100%;
  margin: 0;
  padding: 10px;
  background-color: #c8c8c8; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/furnace-monitor\/app\/sass\/_base\.scss}line{font-family:\0000320}}
a {
  text-decoration: none;
  color: inherit; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/furnace-monitor\/app\/sass\/_base\.scss}line{font-family:\0000323}}
  a:hover {
    font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/furnace-monitor\/app\/sass\/main\.scss}line{font-family:\000035}}
.furnace-status-container {
  width: 80%;
  margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/furnace-monitor\/app\/sass\/main\.scss}line{font-family:\0000310}}
  .furnace-status-container .status-block {
    padding: 20px;
    text-align: center;
    font-size: large;
    color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/furnace-monitor\/app\/sass\/main\.scss}line{font-family:\0000317}}
  .furnace-status-container .status-sub {
    font-size: 0.8em;
    font-style: italic; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/furnace-monitor\/app\/sass\/main\.scss}line{font-family:\0000322}}
  .furnace-status-container .furnace-running {
    background-color: green; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/furnace-monitor\/app\/sass\/main\.scss}line{font-family:\0000326}}
  .furnace-status-container .furnace-off {
    background-color: #b4b4b4; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/projects\/furnace-monitor\/app\/sass\/main\.scss}line{font-family:\0000331}}
.furnace-chart-container {
  background-color: #c8c8c8;
  text-align: left;
  width: 80%; }

/*# sourceMappingURL=main.css.map */
