@import 'base';
@import 'colors';


.furnace-status-container {
  //border: 1px solid red;
  width: 98%;
  margin-bottom:10px;

  overflow: hidden;

  .status-block {
    padding: 20px;
    text-align: center;
    font-size: large;
    color: white;
  }

  .status-sub {
    font-size: 0.8em;
    font-style: italic;
  }

  .furnace-running {
    background-color: $furnaceRunning;
  }

  .furnace-off {
    background-color: $furnaceOff;
  }
}

.furnace-chart-container {
  background-color: $mainBackground;
  text-align: left;
  width: 98%;
}


